<!DOCTYPE html>
<html>
<head>
    <title>About!!</title>
    <link rel='icon' href="./img/cloudy.jpg" />
    <link rel='stylesheet' href="./css/styles.css" />

</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/weather_og.png" />
        <p>This site is created by Vish it uses different APIs to fetch data </p>
    </div>
    {{>footer}}
  
</body>
</html>